<form [formGroup]="loginForm" (ngSubmit)="onSubmit($event)">
  <div class="container">
    <div class="row">
      <div class="col">
        <img src="../assets/logo/artech.png" class="logo" alt="user" />
      </div>
      <div class="col">
        <div class="col"></div>
        <div class="login-form" style="width: 350px">
          <!-- <form class="text-center border border-light p-5"> -->
          <div>
            <p class="h4 mb-4">Admin Sign In</p>
            <div class="text-center">
              <img
                src="../assets/user/User_Circle.png"
                class="img-fluid"
                alt="user"
              />
            </div>
            <br />
            <!-- Email -->
            <label></label>
            <input
              type="text"
              formControlName="UserName"
              name="UserName"
              id="UserName"
              class="form-control"
              style="width: 250px; margin-left: auto; margin-right: auto"
              placeholder="UserName"
            />
            <div class="validation-message">
              <ng-container *ngFor="let value of validation_message.UserName">
                <div
                  *ngIf="
                    loginForm.get('UserName').hasError(value.type) &&
                    (loginForm.get('UserName').dirty ||
                      loginForm.get('UserName').touched)
                  "
                >
                  {{ value.message }}
                </div>
              </ng-container>
            </div>
            <div class="success" *ngIf="loginForm.get('UserName').valid">
              <i class="fas fa-check-circle"></i>
            </div>
            <!-- Password -->
            <label></label>
            <input
              type="password"
              formControlName="Password"
              class="form-control"
              style="width: 250px; margin-left: auto; margin-right: auto"
              placeholder="Password"
            />
            <div class="d-flex justify-content-around">
              <div>
                <!-- Forgot password -->
                <a href="/reset-password">Reset Password</a>
              </div>
            </div>
            <br />

            <!--  Login button -->
            <div>
              <button
                mdbBtn
                type="submit"
                [disabled]="loginForm.invalid"
                gradient="blue"
                mdbWavesEffect
              >
                Login
              </button>
            </div>

            <br />

            <!-- Register -->
            <!-- <p>Not a member?
           </p>
           <div class="row">
             <div class="col">
               <button mdbBtn type="button" gradient="aqua" style="width:200px;" rounded="true" [routerLink]="['/register']" mdbWavesEffect>Register</button>          
             </div>
        
           </div> -->
            <!-- </form> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
