.login-form {
  margin-top: 100px;
  text-align: center;
  width: 50%;
  float: left;
}

.logo {
  margin-top: 100px;
  float: right;
}

.img-fluid {
  max-width: 40%;
  height: auto;
}

.login-input {
  width: 100px;
}

button {
  border-radius: 10px;
}
.validation-message {
  color: red;
  border-color: red;
}

.success {
  color: rgb(7, 201, 7);
}
