.navbar {
  background-color: rgba(8, 173, 238, 0);
}

// .img-fluid {
//     max-width:5%;
//     float: right;
// }

button {
  border-radius: 10px;
}

a {
  font-size: 22px;
  font-style: arial;
  font-weight: bold;
}
