<div class="page-padding">
  <div class="container">
    <img
      src="../../../assets/art-class/art-class-poster.png"
      alt=""
      style="width: 900px; height: 300px"
    />
    <div class="top-right"><h1>Exhibitions</h1></div>
  </div>
  <hr />
  <h2>Available Exhibitions</h2>
  <hr />

  <div class="card-deck">
    <div
      class="col-4"
      *ngFor="let exhibition of listExhibitions; let indexofElementc = index"
    >
      <div class="card">
        <img
          class="card-img-top"
          src="{{ exhibition.exhibitionImage }}"
          alt="Card image cap"
        />
        <div class="card-body">
          <h2 class="card-title">{{ exhibition.exhibitionName }}</h2>
          <p class="card-text">{{ exhibition.exhibitionDescription }}</p>
          <button
            mdbBtn
            type="button"
            gradient="aqua"
            (click)="getExhibition(exhibition)"
            rounded="true"
            mdbWavesEffect
          >
            View Exhibition
          </button>
        </div>
        <div class="card-footer">
          <small class="text-muted">{{
            exhibition.exhibitionStartDateTime | date
          }}</small>
        </div>
      </div>
      <br />
    </div>
  </div>
</div>
