.classes-image {
  text-align: center;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.top-right {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  margin: 0;
  font-family: "Leckerli One", cursive;
  text-shadow: 0 2px rgba(0, 0, 0, 0.5);
  font-size: 60px;
}

.card-img-top {
  width: 300px;
  height: 300px;
}

button {
  border-radius: 10px;
}

// .card {
//   float: left;
//   width: 33.333%;
//   padding: 0.75rem;
//   margin-bottom: 2rem;
//   border: 0;
// }

.card > img {
  margin-bottom: 0.75rem;
  display: block;
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

// .card-text {
//   font-size: 85%;
// }
