<div class="page-padding">
    <div class="container">
        <img src="../../../assets/art-class/art-class-poster.png" alt="" style="width: 900px; height: 300px"> 
        <div class="top-right"><h1>Contact Details</h1></div>
    </div>
   
    <hr>
    <div class="row">
        <h2>Miekie Cell: 079 780 9807</h2>
    </div>
    <br>
    <div class="row">
        <h2>Johann Cell: 082 445 3917</h2>
    </div>
    <br>
    <div class="row">
        <h2>Email: johannvanheerdensart@gmail.com </h2>
    </div>