
<app-navbar></app-navbar>
<router-outlet></router-outlet>
<p style="margin-top: 0%;"><strong>{{idleState}}</strong></p>
<!--
<ng-container *ngIf="showhome">

<html >

<body>



    <h1 style="margin-left: 5%;color: white;font-size: 60px;margin-left:30% ;">Welcome To The Galary</h1>
    <div class="row" style="margin-top: 5%;">
        <div class="card" style="width: 800px;height: 600px;margin-left: 5%;">
            <img src="../../../assets/home/artworks.jpeg" style="width:750px;height:450px" class="card-img-top"
                alt="...">
            <div class="card-body">
                <h5 class="card-title">Home of Artwork</h5>
                <p class="card-text">We have some awesome art from awesome artists</p>
                <a  [routerLink]="['artwork-showroom']" class="btn btn-primary">View Artwork</a>
            </div>
            <br>
        </div>
        <div class="card" style="width: 800px;height: 600px; margin-left: 5%;">
            <img src="../../../assets/home/exhibitionimage.jpeg" style="width:750px;height:450px" class="card-img-top"
                alt="...">
            <div class="card-body">
                <h5 class="card-title">Home of Exhibitions</h5>
                <p class="card-text">Best exhibitions in town..</p>
                <a [routerLink]="['artwork-showroom']" class="btn btn-primary">View Exhibitions</a>
            </div>
        </div>

    </div>
</body>

</html>

</ng-container>
-->