
  <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Class Name</th>
        <th scope="col">Class Type</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">
            <div class="image-card">
            <img class="card-img-top" src="../../../assets/art-class/theme1.png" alt="Card image cap">
        </div>
        </th>
        <td>Conflict and Adversity</td>
        <td>Oil Painting</td>
        <td>
            <button mdbBtn type="button" gradient="purple" (click)="onFeedback()" rounded="true" mdbWavesEffect>Provide Feedback</button>            

        </td>
      </tr>

      <tr>
        <th scope="row">
            <div class="image-card">
            <img class="card-img-top" src="../../../assets/art-class/theme2.png" alt="Card image cap">
        </div>
        </th>
        <td>Digital Art</td>
        <td>Digital drawing</td>
        <td>
            <button mdbBtn type="button" gradient="purple" (click)="onFeedback()"  rounded="true" mdbWavesEffect>Provide Feedback</button>            

        </td>
      </tr>
    </tbody>
  </table>
  <br>
  <br>
