<div class="container">
    <div class="reset-form">
       
      <!-- <form class="text-center border border-light p-5"> -->
          <div>
          <p class="h4 mb-4">Reset Password</p>
          <hr>
  
        
          <!-- Email -->
          <label style="margin-right: 150px;">New Password</label>
          <input type="password" class="form-control" style="width: 250px; margin-left: auto; margin-right: auto" placeholder="New Password">
          <br>

          <label style="margin-right: 85px;">Confirm New Password</label>
          <input type="password" class="form-control" style="width: 250px; margin-left: auto; margin-right: auto" placeholder="Confirm New Password">
        
        
          <div class="d-flex justify-content-around">
            <div>
              <!-- Forgot password -->
            </div>
          </div>
          <br>
        
          <!--  Login button -->
      <div>
          <button mdbBtn type="button" gradient="blue" [routerLink]="['/']" rounded="true" mdbWavesEffect>Confirm</button>
      </div>
      <br>
                  <!-- </form> -->
      </div>
      </div>
    </div>
