
<form [formGroup]="resetForm" (ngSubmit)="onSubmit($event)">
<div class="container">
      <div class="reset-form">
         
        <!-- <form class="text-center border border-light p-5"> -->
            <div>
            <p class="h4 mb-4">Forgot your Password?</p>
            <div class="text-center">
              <p>Please enter email to confirm account details.</p>
            </div>
          
            <!-- Email -->
            <label>Email Address</label>
            <input type="email" formControlName="userEmail" class="form-control" style="width: 250px;; margin-left: auto; margin-right: auto"
              placeholder="E-mail" />
            <div class="error-messages">
              <ng-container *ngFor="let error of error_messages.userEmail">
                <div class="error-message" *ngIf="resetForm.get('userEmail').hasError(error.type) &&
                   (resetForm.get('userEmail').dirty || resetForm.get('userEmail').touched)">
                  {{ error.message }}
                </div>
              </ng-container>
            </div>
            <br>
          
            <!--  Login button -->
        <div>
            <button mdbBtn type="submit" (click)="onSubmit($event)" gradient="blue"  rounded="true" mdbWavesEffect>Confirm</button>
        </div>
        <br>
                    <!-- </form> -->
        </div>
        </div>
      </div>
</form>