.reset-form {
    margin-top: 200px;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    margin-top: 100px;
    float: right;
}

.img-fluid {
    max-width:40%;
    height: auto;
  }

.login-input {
    width: 100px;
}

button {
    border-radius: 10px;
}

.error-message{
    position: static;
    
    }