<div class="container">
  <div class="row">
    <h1>Surface Types</h1>
  </div>
  <hr />
  <div class="row">
    <button
      type="button"
      class="btn btn-primary"
      (click)="addSurface(addSurfaceModal)"
    >
      Add Surface type <i class="fas fa-plus"></i>
    </button>
  </div>
  <hr />
  <h2>Current Surface Types</h2>
  <table class="table">
    <thead>
      <tr class="table-primary">
        <th scope="col">Surface type</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of surfaceService.surfaceList">
        <th>{{ item.surfaceTypeName }}</th>
        <td>
          <button
            type="button"
            class="btn btn-danger"
            (click)="onDeleteSurface(deleteSurfaceModal)"
          >
            Remove <i class="fas fa-trash"></i>
          </button>
        </td>

        <ng-template #deleteSurfaceModal let-modal>
          <div class="modal-header">
            <h4 class="modal-title">Delete Surface</h4>
            <button
              type="button"
              class="close"
              aria-label="Close"
              (click)="modal.dismiss('Cross click')"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete this Surface?</p>
          </div>
          <br />
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-danger"
              (click)="modal.dismiss('Cross click')"
            >
              No
            </button>
            <button
              type="button"
              class="btn btn-primary"
              (click)="confirmDeleteSurface(item.surfaceTypeID)"
            >
              Yes
            </button>
          </div>
        </ng-template>
      </tr>
    </tbody>
  </table>
</div>

<!-- MODALS Below================================= -->

<ng-template #addSurfaceModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Add Surface Type</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <br />
  <h5 [hidden]="!surfaceForm.invalid">
    *Submit Button is disbaled, please enter all input values
  </h5>
  <form [formGroup]="surfaceForm" (ngSubmit)="onSubmit()">
    <div class="modal-body">
      <label>Surface Name:</label>
      <input
        type="text"
        class="form-control"
        style="width: 250px"
        placeholder="Surface Type"
        name="surfaceTypeName"
        formControlName="surfaceTypeName"
      />
      <div class="validation-message">
        <ng-container *ngFor="let value of validation_message.surfaceTypeName">
          <div
            *ngIf="
              surfaceForm.get('surfaceTypeName').hasError(value.type) &&
              (surfaceForm.get('surfaceTypeName').dirty ||
                surfaceForm.get('surfaceTypeName').touched)
            "
          >
            {{ value.message }}
          </div>
        </ng-container>
      </div>
      <div class="success" *ngIf="surfaceForm.get('surfaceTypeName').valid">
        <i class="fas fa-check-circle"></i>
      </div>
      <br />
    </div>
    <br />

    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-danger"
        (click)="modal.dismiss('Cross click')"
      >
        Cancel
      </button>
      <button
        type="button"
        class="btn btn-primary"
        [disabled]="surfaceForm.invalid"
        type="submit"
      >
        Submit
      </button>
    </div>
  </form>
</ng-template>

<!-- =========MODALS BELOW======================= -->

<!-- <ng-template #deleteSurfaceModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Delete Surface</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" >
    <p>Are you sure you want to delete this Surface?</p>
    </div>
    <br>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.dismiss('Cross click')">No</button>
    <button type="button" class="btn btn-primary" (click)="confirmDeleteSurface(deleteSurfaceModal)">Yes</button>
  </div>
</ng-template> -->
