h1 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

table {
  width: 600px;
  text-align: center;
}

button {
  border-radius: 20px;
}

.validation-message {
  color: red;
  border-color: red;
}

.success {
  color: rgb(7, 201, 7);
}
