<div class="page-padding">
  <br>
<div class="container">
    <img src="../../../assets/art-class/art-class-poster.png" alt="" style="width: 900px; height: 300px"> 
    <div class="bottom-left">
        <img src="../../../assets/user/User_Circle.png" alt="" style="width: 100px; height: 100px"> 
        <h1>Reinhardt Smit</h1>
    </div>
</div>
<hr>

<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" [routerLink]="['artistbooking-list']">Bookings</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" [routerLink]="['artist-refunds']">Refunds</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="['artist-completed']">Completed</a>
      </li>
</ul>
<router-outlet></router-outlet>
</div>


