<div class="page-padding">
  <br>
<div class="container">
    <img src="../../../assets/art-class/art-class-poster.png" alt="" style="width: 900px; height: 300px"> 
    <div class="top-right"><h1>Art Classes</h1></div>
</div>
<hr>
<h2>Available Classes</h2>
<hr>

<div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="../../../assets/art-class/theme1.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Conflict and Adversity</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <button mdbBtn type="button" gradient="aqua" [routerLink]="['../class']" rounded="true" mdbWavesEffect>View Class</button>      

      </div>
      <div class="card-footer">
        <small class="text-muted">Seats Available: 8</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../../assets/art-class/theme2.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Digital Art</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <button mdbBtn type="button" gradient="aqua" rounded="true" mdbWavesEffect>View Class</button>      
    </div>
      <div class="card-footer">
        <small class="text-muted">Seats Available: 5</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../../assets/art-class/theme3.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Humans And the Environment</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <button mdbBtn type="button" gradient="aqua" rounded="true" mdbWavesEffect>View Class</button>      
      </div>
      <div class="card-footer">
        <small class="text-muted">Seats Available: 3</small>
      </div>
    </div>
  </div>
</div>
