<div class="page-padding">
    <br>
  <div class="container">
      <img src="../../../assets/art-class/art-class-poster.png" alt="" style="width: 900px; height: 300px"> 
      <div class="top-right"><h1>Artist Artworks</h1></div>
  </div>
  <hr>


<div class="card-deck">
    <div class="card">
      <img src="../assets/artworks/artwork1.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Ori Blind Forest</h5>
        <p class="card-text">
            <li>Medium: Ink</li>
            <li>Surface: Digital</li>
            <li>Dimensions:  1000mm -  562mm</li>
\        </p>
        <p class="card-text"><small class="text-muted">By James McDonald</small></p>
      </div>
    </div>
    <div class="card">
      <img src="../assets/artworks/artwork2.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Colourful Character</h5>
        <p class="card-text">
            <li>Medium: Painting</li>
            <li>Surface: Paper and Cardboard.</li>
            <li>Dimensions: 600mm - 600mm</li>
        </p>
        <p class="card-text"><small class="text-muted">By Jamie Smith</small></p>
      </div>
    </div>
    <div class="card">
      <img src="../assets/artworks/artwork3.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Little Things</h5>
        <p class="card-text">
            <li>Medium: Pencil</li>
            <li>Surface: Paper Drawing</li>
            <li>Dimensions: 1200mm - 900mm</li>
        </p>
        <p class="card-text"><small class="text-muted">By Danny McFarlane</small></p>
      </div>
    </div>
  </div>

