h1 {
  text-align: center;
  padding-top: 50px;
  text-shadow: 0 2px rgba(0, 0, 0, 0.5);
  font-size: 40px;
}
p {
  text-align: center;
}

.announce {
  color: rgb(2, 238, 255);
  text-shadow: 0 2px rgba(0, 0, 0, 0.5);
}
.welcome {
  padding-bottom: 300px;
}

.card-img {
  height: 300px;
  width: 700px;
}

.event {
  padding-left: 100px;
  padding-right: 100px;
}

.video {
  text-align: center;
  margin-left: 800px;
  margin-right: auto;
}
