<div class="page-padding">
  <br>
<div class="container">
    <img src="../../../assets/art-class/art-class-poster.png" alt="" style="width: 900px; height: 300px"> 
    <div class="top-right"><h1>Exhibitions</h1></div>
</div>
<hr>
<h2>Available Exhibitions</h2>

<hr>

<div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="../../../assets/exhibitions/exhibition1.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Tropical Fiesta</h5>
        <p class="card-text">This exhibition provides an exquisite experience allowing artists to unleash a fruitful image of their inner imagination.</p>
        <button mdbBtn type="button" gradient="aqua" [routerLink]="['../artist-exhibition']" rounded="true" mdbWavesEffect>View Exhibition</button>      

      </div>
      <div class="card-footer">
        <small class="text-muted">Date: 2021/05/15 </small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../../assets/exhibitions/exhibition2.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Brand Display</h5>
        <p class="card-text">Taking a new approach with brand display. Artists are encouraged to express their creativeness with existing brands.</p>
        <button mdbBtn type="button" gradient="aqua" rounded="true" mdbWavesEffect>View Exhibition</button>      
    </div>
      <div class="card-footer">
        <small class="text-muted">Date: 2021/07/21</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../../assets/exhibitions/exhibition3.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Social Justice</h5>
        <p class="card-text">An open exhibition to allow artwork to speak a louder voice about social justice.</p>
        <button mdbBtn type="button" gradient="aqua" rounded="true" mdbWavesEffect>View Exhibition</button>      
      </div>
      <div class="card-footer">
        <small class="text-muted">Date: 2021/08/16</small>
      </div>
    </div>
  </div>
</div>