h1 {
    text-align: center;
    padding-top: 50px;
}
p {
    text-align: center;
}

.welcome{
    padding-bottom: 300px;
}

.card-img{
    height: 300px;
    width: 700px;
}

.event{
    padding-left: 100px;
    padding-right: 100px;
    
}