<div class="page-padding">
  <br>
  <div class="container">
    <img
      src="../../../assets/art-class/art-class-poster.png"
      alt=""
      style="width: 900px; height: 300px"
    />
    <div class="bottom-left">
      <img
        src="../../../assets/user/User_Circle.png"
        alt=""
        style="width: 100px; height: 100px"
      />
      <h1>Reinhardt Smit</h1>
      <button
        type="button"
        class="btn btn-outline-secondary btn-rounded"
        data-mdb-ripple-color="dark"
      >
        Edit Profile Pic
      </button>
    </div>
  </div>
  <h3>My Account</h3>
  <p>View and edit personal info below.</p>
  <hr />
  <div class="row">
    <div class="col">
      <label>Fisrt Name</label>
      <input
        type="text"
        class="form-control"
        style="width: 250px"
        placeholder="Enter Name"
      />
      <br />
      <label>Last Name</label>
      <input
        type="text"
        class="form-control"
        style="width: 250px"
        placeholder="Enter Surname"
      />
    </div>
    <div class="col">
      <div class="form-group">
        <label for="comment">Artist Bio:</label>
        <textarea class="form-control" rows="5" id="comment"></textarea>
        <br>
        <label>Artist Type</label>
        <input
          type="text"
          class="form-control"
          style="width: 250px"
          placeholder="Artist Type"
        />
      </div>
    </div>
    <div class="col">
      <button
        mdbBtn
        type="button"
        gradient="purple"
        (click)="onUpdateArtist(updateArtistModal)"
        rounded="true"
        mdbWavesEffect
      >
        Add Picture
      </button>
    </div>
  </div>
  <br />

  <div>
    <label>Email Address</label>
    <input
      type="email"
      class="form-control"
      style="width: 535px"
      placeholder="E-mail"
    />
  </div>
  <br />

  <div>
    <label>Phone Number</label>
    <input
      type="text"
      class="form-control"
      style="width: 535px"
      placeholder="+ (27)"
    />
  </div>
  <br />

  <button
    mdbBtn
    type="button"
    gradient="purple"
    (click)="onUpdateArtist(updateArtistModal)"
    rounded="true"
    mdbWavesEffect
  >
    Update Info
  </button>
</div>
<br />

<!-- ============================================================================ -->
<!-- ===============MODALS BELOW========================================================================================================== -->

<!-- <ng-template #updateArtistModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Update Artist Profile</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want update your profile details?</p>
  </div>
  <div class="modal-footer">
    <button mdbBtn type="button" gradient="peach" rounded="true" style="float: right;" (click)="modal.dismiss('Cross click')"  mdbWavesEffect>No</button>
    <button
      mdbBtn
      type="button"
      gradient="purple"
      (click)="submitUpdateArtist(updateArtistModal)"
      rounded="true"
      mdbWavesEffect
    >
      Yes
    </button>
  </div>
</ng-template> -->


<ng-template #updateArtistModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Error <i class="fas fa-times-circle"></i></h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Values are entered into incorrect format.</p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary"
      (click)="submitUpdateArtist(updateArtistModal)"
      rounded="true"
    >
      OK
    </button>
  </div>
</ng-template>
