<h3>My Exhibitions: hhh</h3>
<br>
<table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Exhibition Name</th>
        <th scope="col">Application Status</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">
            <div class="image-card">
            <img class="card-img-top" src="../../../assets/exhibitions/exhibition1.png" alt="Card image cap">
        </div>
        </th>
        <td>Tropical Fiesta</td>
        <td>Pending</td>
        <td>
            <button mdbBtn type="button" gradient="peach" rounded="true" mdbWavesEffect (click)="cancelApplication(cancelApplicationModal)">Withdraw <i class="fas fa-sign-out-alt"></i></button>
        </td>
        <td>
            <button mdbBtn type="button" gradient="purple" [routerLink]="['../artist-exhibition']" rounded="true" mdbWavesEffect>View Exhibition</button>            
        </td>
      </tr>

    </tbody>
  </table>
  <br>
  <br>

   <!-- ======================================================================================= -->
  <!-- =======================MODALS BELOW================================ -->

  <ng-template #cancelApplicationModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Cancel Application</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Are you sure you want to cancel your Application and withdraw?</p>
    </div>
    <div class="modal-footer">
      <button mdbBtn type="button" gradient="peach" rounded="true" style="float: right;" (click)="modal.dismiss('Cross click')"  mdbWavesEffect>No</button>
      <button mdbBtn type="button" gradient="purple" (click)="confirmCancel(cancelApplicationModal)" rounded="true" mdbWavesEffect>Yes</button>
    </div>
  </ng-template>