<div class="page-padding">
    <div class="container">
        <img src="../../../assets/art-class/art-class-poster.png" alt="" style="width: 900px; height: 300px"> 
        <div class="top-right"><h1>Announcements</h1></div>
    </div>
    <hr>
    <div class="card">
        <div class="card-header">
          Posted on: Monday, May 13 2021 
        </div>
        <div class="card-body">
          <h5 class="card-title"><strong>New Class Added</strong></h5>
          <p class="card-text">Hello everyone a new class has been added called Humans and Environment. Go check it out quick and book those seats!</p>
        </div>
        <div class="card-footer">
            Posted by: Miekie van Heerden
          </div>
      </div>
      <br>
      <div class="card">
        <div class="card-header">
          Posted on: Monday, May 10 2021 
        </div>
        <div class="card-body">
          <h5 class="card-title"><strong>Class Date Changed</strong></h5>
          <p class="card-text">Hello everyone the Digital Art start and end date has chnaged to 12-14 June.</p>
        </div>
        <div class="card-footer">
            Posted by: Miekie van Heerden
          </div>
      </div>
</div>