<!-- <h3>Accepted Applications: </h3>
<br>
<table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Exhibition Name</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">
            <div class="image-card">
            <img class="card-img-top" src="../../../assets/exhibitions/exhibition1.png" alt="Card image cap">
        </div>
        </th>
        <td>Tropical Fiesta</td>

        <td>
            <button mdbBtn type="button" gradient="purple" [routerLink]="['../generate-tags']" rounded="true" mdbWavesEffect>Generate Tags</button>            

        </td>
      </tr>

    </tbody>
  </table>
  <br>
  <br>
  -->