<div class="page-padding">
    <br>
<div class="container">
    <img src="../../../assets/art-class/art-class-poster.png" alt="" style="width: 900px; height: 300px"> 
    <div class="bottom-left">
        <img src="../../../assets/user/User_Circle.png" alt="" style="width: 100px; height: 100px"> 
        <h1>Reinhardt Smit</h1>
    </div>
</div>
<hr>
<h3>Invitations: </h3>
<p>Your invited to the following events</p>
<br>
<table class="table">
    <thead>
      <tr>
        <th scope="col">From</th>
        <th scope="col">Date Received</th>
        <th scope="col">Name of Exhibition</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">
           Miekie
        </th>
        <td>2021/06/13</td>
        <td>Tropical Fiesta</td>
        <td>
            <button type="button" class="btn btn-success btn-rounded" style="margin-right: 20px;">Accept <i class="fas fa-check"></i></button>
            <button type="button" class="btn btn-danger btn-rounded">Decline <i class="fas fa-times"></i></button>
            
        </td>
        <!-- <td>
            <button mdbBtn type="button" gradient="purple" [routerLink]="['../artist-exhibition']" rounded="true" mdbWavesEffect>View Event</button>            

        </td> -->
        <button mdbBtn type="button" gradient="purple" [routerLink]="['../artist-exhibition']" rounded="true" mdbWavesEffect>View Event</button>            

      </tr>
      
    </tbody>
  </table>
  <br>
  <br>
</div>